<div id="grantActivitiesContainer" class="pos-rel">
    <md-progress-linear class="loading" ng-show="loading" md-mode="indeterminate"></md-progress-linear>
    <h2 class="pos-rel">
        Funding and Grant Activities
        <div class="edit-item" style="display:flex;align-items:center;" ng-if="$root.isAdmin && $root.loggedIn">
            <md-button class="flat md-warn" ng-click="revert()">Revert</md-button>
            <md-button aria-label="Add New" class="md-icon-button nopadding nomargin" ng-if="$root.isAdmin" ng-click="addPoint(grantActivities.data)">
                <i class="material-icons">add_circle</i>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="saveActs()">Save Changes</md-button>
        </div>
    </h2>
    </br>
    <div ng-model="grantActivities.data" ui-sortable="sortingOptions" class="grad-thesis" style="min-height:84px;">
        <div ng-repeat="grantAct in grantActivities.data" class="grantPara {{($root.isAdmin && !grantAct.edit) ? 'drag' : 'unsortable'}} pos-rel item-admin-edit" ng-class="grantAct.edit ? 'unsortable' : ''">
            <span ng-bind-html="grantAct.point" ng-if="!grantAct.edit"></span>
            <div class="edit-item" ng-if="$root.isAdmin && $root.loggedIn">
                <md-button aria-label="Delete" class="md-icon-button nopadding nomargin" ng-click="deletePoint(grantActivities.data, $index)">
                    <i class="material-icons">delete</i>
                </md-button>
                <md-button aria-label="Edit" class="md-icon-button nopadding nomargin" ng-click="grantAct.edit = !grantAct.edit">
                    <i class="material-icons">{{grantAct.edit ? 'check_circle' : 'edit'}}</i>
                </md-button>
            </div>
            <md-input-container class="md-block nomargin" ng-if="grantAct.edit">
                <textarea autofocus ng-model="grantAct.point" rows="3" aria-label="Edit">{{grantAct.point}}</textarea>
            </md-input-container>
        </div>
    </div>
</div>