<md-dialog aria-label="{{$root.selectedUser.id}}" flex="100" layout="column" class="person-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{$root.selectedUser.prefix ? $root.selectedUser.prefix + ' ' : ''}}{{$root.selectedUser.firstname}} {{$root.selectedUser.middlename ? $root.selectedUser.middlename + '. ' : ' '}}{{$root.selectedUser.lastname}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <md-card md-theme="default">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{$root.selectedUser.prefix ? $root.selectedUser.prefix + ' ' : ''}}{{$root.selectedUser.firstname}} {{$root.selectedUser.middlename ? $root.selectedUser.middlename + '. ' : ' '}}{{$root.selectedUser.lastname}}</span>
            <span class="md-subhead" ng-if="$root.selectedUser.type == 'graduate-ms'">Master's Student</span>
            <span class="md-subhead" ng-if="$root.selectedUser.type == 'graduate-phd'">Ph.D. Student</span>
            <span class="md-subhead" ng-if="$root.selectedUser.year && $root.selectedUser.type != 'scholar'">{{$root.selectedUser.type == 'graduate-ms' || $root.selectedUser.type == 'graduate-phd' ? 'Expected ' : ''}}Graduation: {{$root.selectedUser.year}}</span>
            <span class="md-subhead" ng-if="$root.selectedUser.position && $root.selectedUser.employer">{{$root.selectedUser.position}} at {{$root.selectedUser.employer}}<span ng-if="$root.selectedUser.state && $root.selectedUser.country">, {{$root.selectedUser.state}}, {{$root.selectedUser.country}}</span></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media" ng-style="{'background-image': 'url({{$root.selectedUser.avatar ? $root.selectedUser.avatar : defaultAvatar}})'}"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <p ng-cloak ng-if="$root.selectedUser.school && $root.selectedUser.type == 'graduate'">
            {{$root.selectedUser.firstname}} {{$root.selectedUser.lastname}} is a graduate student at {{$root.selectedUser.school}}.
          </p>
          <p ng-cloak ng-if="$root.selectedUser.school && $root.selectedUser.type == 'alumni'">
            {{$root.selectedUser.prefix ? $root.selectedUser.prefix + ' ' : ''}}{{$root.selectedUser.firstname}} {{$root.selectedUser.lastname}} graduated from {{$root.selectedUser.school}}
            in {{$root.selectedUser.year}}.
          </p>
          <p ng-cloak ng-if="$root.selectedUser.school && $root.selectedUser.type == 'scholar'">
            {{$root.selectedUser.prefix ? $root.selectedUser.prefix + ' ' : ''}}{{$root.selectedUser.firstname}} {{$root.selectedUser.lastname}} was a visiting scholar at {{$root.selectedUser.school}}{{$root.selectedUser.startDate && $root.selectedUser.endDate ? ' from ' + $root.selectedUser.startDate + ' to ' + $root.selectedUser.endDate + '.' : '.' }}
          </p>
          <p ng-cloak ng-if="$root.selectedUser.bio">
            <br>
            <br>
            <b>Biography</b>
            <br>
            <br>
          </p>
          <div ng-bind-html="trustAsHtml($root.selectedUser.bio)"></div>
        </md-card-content>
      </md-card>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center">
    <md-button title="Homepage" aria-label="Homepage" href="{{$root.selectedUser.homepage}}" class="md-icon-button nopadding nomargin" target="_blank"
      ng-if="$root.selectedUser.homepage">
      <i class="material-icons">language</i>
    </md-button>
    <md-button title="Facebook" aria-label="Facebook" href="{{$root.selectedUser.facebook}}" class="md-icon-button nopadding nomargin" target="_blank"
      ng-if="$root.selectedUser.facebook">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"
        />
      </svg>
    </md-button>
    <md-button title="LinkedIn" aria-label="LinkedIn" href="{{$root.selectedUser.linkedin}}" class="md-icon-button nopadding nomargin" target="_blank"
      ng-if="$root.selectedUser.linkedin">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#000000" d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
        />
      </svg>
    </md-button>
    <md-button title="Email" aria-label="Email" href="mailto:{{$root.selectedUser.email}}" title="Send email to {{$root.selectedUser.firstname}}"
      class="md-icon-button nopadding nomargin">
      <i class="material-icons">email</i>
    </md-button>
  </md-dialog-actions>
</md-dialog>